*{margin:0; padding:0;}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../font/robotocondensed-bold-webfont.eot');
    src: url('../font/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-bold-webfont.woff') format('woff'),
         url('../font/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../font/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprumbold';
    src: url('../font/cuprum-bold-webfont.eot');
    src: url('../font/cuprum-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cuprum-bold-webfont.woff2') format('woff2'),
         url('../font/cuprum-bold-webfont.woff') format('woff'),
         url('../font/cuprum-bold-webfont.ttf') format('truetype'),
         url('../font/cuprum-bold-webfont.svg#cuprumbold') format('svg');
    font-weight: normal;
    font-style: normal;
}



@keyframes buttons {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
HTML {position:relative; min-height:100%; margin:0; padding:0;}	/* position и heght для прижатия футера к низу, в сочетании с position и bottom футера */

BODY {margin:0 auto; padding:0; background:url(../img/background_body.jpg) no-repeat #808080; background-size:100%;}

img, p, a, h1, h2, h3, figure {font:normal 1em 'roboto_condensedbold', sans-serif; border:0; margin:0; padding:0; outline:none;}

a {text-decoration:none;}

img {max-width:100%;}

header, nav, section, article, footer, figure, figcaption, adress {display:block;}

header {width:100%; height:130px; background-color:rgba(104, 104, 104, .5); overflow:hidden;}
	.logo_main {max-width:1000px; margin:5px auto; overflow:hidden;}
		.logo_main a {float:left; width:280px; height:120px; background:url(../img/logo.png) 0 5px no-repeat; background-size:100%; margin:0 0 0 5px;}
		.header_info {float:right; width:160px; text-align:right; margin:0 5px 0 0;}
			.header_info p {font-size:1.5em; line-height:120px; color:#333; text-shadow:1px 1px 1px #fff;}
		
nav {width:100%; height:50px; background-color: rgba(248,248,248, 0.5); top:120px;}
	.buttons_block {max-width:1000px; margin:0 auto; overflow:hidden;}
		.buttons {float:left; font-size:0.9em; text-shadow:1px 1px 1px #fff; line-height:50px; color:#333; padding:0 10px; font-family:'cuprumbold',sans-serif;}
			/*.buttons:hover {background-color: rgba(144, 144, 144, 0.5);}*/
			.buttons:hover {background: linear-gradient(to right, #F0F0F0 40%,#C8C8C8 50%,#F0F0F0 60%); animation: buttons 4s ease infinite; background-size: 400% 400%;}
	.nav_top_fixed {position:fixed; background-color:#F8F8F8; z-index:1000; box-shadow: 0 0 10px rgba(0,0,0,0.8);}
	
			
#index_block, #new_collection, #sale_block, #contacts_block, #item_block, #sitemap {overflow:hidden; padding-bottom:240px;}	/*большой padding для футера */ /* min-height:calc(100vh - 440px); вычисления min-height для прижатия футера к низу, хотелось бы так, но Safari - редиска*/
	section {}
		article {max-width:1000px; margin:0 auto; overflow:hidden;}
			.slogan {width:50%; text-align:center; margin:80px 0 86px 0; overflow:hidden;}
				.slogan h1 {display:block; margin:0 40px 20px 40px; color:#fff; font-size:1.8em; text-shadow:1px 1px 1px #000; text-align:justify;}
				.slogan a {display:inline-block; padding:10px; color:#ffffff; font-size:1.1em; border:5px solid #ffffff;}
			
			.chapter {width:100%; height:50px; background-color: rgba(208,208,208, 0.5);}
				.chapter h2 {max-width:1000px; margin:0 auto; padding:0 0 0 20px; font:normal 1.1em/50px 'cuprumbold',sans-serif; color:#333; text-shadow:1px 1px 1px #fff;}
			.goods_block {max-width:1000px; margin:10px auto; flex-wrap:wrap; display:flex;}
				figure {float:left; margin:0.33%; margin-top:5px; width:16%; background:#fff; text-align:center; color:#333; overflow:hidden;}
					figure img {box-shadow: 0 0 10px rgba(0,0,0,0.8); border-radius:0 0 10px 10px;}
					
			#contacts_block p {font-size:1em; color:#333; text-shadow:1px 1px 1px #fff; margin:60px 10px;}
				#contacts_block p span {font-size:1.3em;}

			#sitemap a {font-size:1em; color:#333; text-shadow:1px 1px 1px #fff;}
			#sitemap ol {margin:20px 10px;}
				#sitemap li {list-style-type:none; margin-left:40px; font-size:0.9em;}
				
	.item_parameters {max-width:1000px; margin:20px auto; overflow:hidden;}
		.item_img {float:left; width:50%;}
		.item_info {float:left; width:50%;}
			.item_info p, .item_info h3 {margin:10px 0 0 20px; color:#fff; font-size:1.1em;}
			.item_info span {display:block; margin:0 0 0 50px;}
			.item_info h3 {margin:10px 10px 0 70px;}
		.item_more_img {float:left; width:100%; margin:10px auto; overflow:hidden;}
			 .item_more_img_preview {float:left; width:100px; margin:0 5px 0 0;}

footer {width:100%; height:200px; background-color:rgba(40, 40, 40, .5); margin:20px 0 20px 0; position:absolute; bottom:0;}	/* position и bottom в сочетании с высотой и position для html - для прижатия футера к низу */
	.footer_info {max-width:1000px; margin:0 auto;}
		.footer_logo {float:left; margin:56px 0 56px 10px; text-align:center;}
			.footer_logo_img {width:200px; height:86px; background:url(../img/logo_footer.png) no-repeat; background-size:100%;}
		.footer_text {float:right; width:250px; margin:30px 0; text-align:right;}
			.footer_text p {font-size:0.8em; color:#101010; margin:0 10px 0 0;}
	footer a {color:#101010; font-size:1em; margin:0 10px 0 0;}
	footer img {width:200px; margin:0 0 5px 0;}
	
	
	
	
	
@media only screen and (max-width: 992px) {
	.slogan h1 {font-size:1.5em;}
	.slogan {width:80%;}
}

@media only screen and (max-width: 768px) {
	.slogan {width:100%; margin-bottom:60px;}
	figure {width:19.32%;}
	.item_info p, .item_info span {font-size:1em;}
}

@media only screen and (max-width: 480px) {
	BODY {background-image:url(../img/background_body_small.jpg);}
	.slogan h1 {font-size:1.4em;}
	.header_info {display:none;}
	.logo_main a {float:none; display:block; margin:0 auto;}
	.buttons {font-size:0.78em;}
	.slogan {width:100%; margin-bottom:60px;}
	.footer_text p {font-size:0.7em; margin-top:10px;}
	figure {width:24.34%;}
	.item_img, .item_info {width:100%;}
}  

@media only screen and (max-width: 360px) {
	.buttons {font-size:0.68em;}
	.slogan {margin-top:20px; margin-bottom:20px;}
	.slogan a {display:block; font-size:1em; padding:7px; margin:5px 0;}
	figure {width:32.65%;}
}

@media only screen and (max-width: 340px) {
	.buttons {font-size:0.6em;}
}

@media only screen and (max-width: 320px) {
	.buttons {font-size:0.58em;}
}

@media only screen and (max-width: 300px) {
	.buttons {font-size:0.55em;}
}

@media only screen and (max-width: 280px) {
	.buttons {font-size:0.53em;}
}

@media only screen and (max-width: 275px) {
	.buttons {font-size:0.52em;}
}

@media only screen and (max-width: 270px) {
	.buttons {font-size:0.5em;}
}